form.filter{
	border:1px solid transparent;
	border-radius:5px;
	padding-left:25px;
	padding-right:25px;
	background-color: #cdd0d6;
	min-width:250px;
	max-width:100%;
	margin-bottom:25px;
}

form.filter label{
	margin-top:10px;
}

